* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
 background-image: url(../Public/Fondo.png); /* <-- aquí va la imagen */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: sans-serif;
  color: aliceblue;
  text-align: center;
}

.centrar {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 /* background-image: url(../Public/Fondo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
  width: 100%;
  min-height: 0; /* Importante para que flexbox funcione bien */
  padding-bottom: 10px;
  height: auto;
}

.footer {
  min-height: 50px;
  width: 100%;
  margin: 0;
}

.footer-texto {
  font-size: 1.2rem;
  padding: 5px;
  margin-bottom: 5px;
  margin-top: auto; /* Esto empuja el footer al fondo */
}

footer,
.footer {
   background-color: transparent !important;
  box-shadow: 0 0 10px green;
  transition: all 0.3s ease-in-out;
  background-color: transparent !important;
  color: #f30a0a; /* O el color de texto que prefieras */ 
}

footer:hover,
.footer:hover {
  box-shadow: 0 0 40px green;
}

.iconos-redes-sociales a {
  color: rgb(13, 110, 253);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 15px;
  border: 2px solid Black;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales button {
  color: rgb(13, 110, 253);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  margin: 15px;
  border: 2px solid Black;
  border-radius: 50%;
  transition: all 0.2s ease-in;
}

.iconos-redes-sociales a:hover {
  background-color: black;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales button:hover {
  background-color: black;
  border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a :hover i {
  color: white;
}
.fixed-bottom {
  display: block !important;
  z-index: 9999;
}

.navbar,
.container-fluid {
  padding: 0 !important;
}

.navbar {
  background-color: transparent !important;
  box-shadow: 0 0 10px green;
  transition: all 0.3s ease-in-out;
}

.navbar:hover {
  box-shadow: 0 0 40px green;
}

