* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #333;
  font-family: sans-serif;
  color: aliceblue;
  text-align: center;
  background-image: url(../Public/Fondo3.webp);
  background-position: center;
  background-attachment: scroll; /* Cambia a scroll */
  background-repeat: no-repeat;
  background-size: cover;
  /*padding-bottom: 10px;*/
}

.footer {
    min-height: 50px; 
    width: 50px;      
    margin: 5px;
}

.footer-texto {
    font-size: 1.2rem; 
    padding: 5px;
    margin-bottom: 5px;
    margin-top: auto; /* Esto empuja el footer al fondo */
}

.iconos-redes-sociales a {
    color: rgb(13, 110, 253);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 2px;
    margin: 15px;
    border: 2px solid Black;
    border-radius: 50%;
    transition: all 0.2s ease-in; 
}

.iconos-redes-sociales button {
    color: rgb(13, 110, 253);
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 2px;
    margin: 15px;
    border: 2px solid Black;
    border-radius: 50%;
    transition: all 0.2s ease-in; 
}

.iconos-redes-sociales a:hover {
background-color: black;
border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales button:hover {
background-color: black;
border: 2px solid rgb(13, 110, 253);
}

.iconos-redes-sociales a :hover i {
color: white

}
.centrar {
   flex: 1; /* Hace que el contenido principal ocupe el espacio disponible */
    display: flex;
    justify-content: center;
    align-items: center;
  /*  height: 100vh; /* Set the height to 100% of the viewport */
}

.fixed-bottom {
    display: block !important;
    z-index: 9999;
}

.alert[role="alert"] {
  margin-bottom: 0 !important;
  width: 100%;
  border-radius: 0;
  padding: 0;
}